* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #153b50;
  color: #ecebe4;
  list-style: none;
}

.navbar #header-title {
  float: left; /* Align title to the left */
  margin: 0;
  font-size: 2rem;
  line-height: 60px; /* Vertical centering */
}
.navbar {
  padding: 1rem 2rem;
  background-color: #429ea6;
  line-height: 60px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  font-style: oblique;
}

.navbar li {
  display: inline;
  float: right;
  padding-right: 50px;
}
.navbar li a {
  text-decoration: none;
  color: #ecebe4;
}

.navbar li a:hover,
a:focus,
a:active {
  color: #153b50;
}

.float-container {
  margin: 2rem auto;
  padding: 2rem;
  width: 1000px;
  text-align: center;
}

.float-child {
  font-family: "Courier New", Courier, monospace;
  display: inline-block; /* Inline-block keeps them side by side */
  margin: 10px;
  padding: 2rem;
  width: 500px;
  height: 350px;
  text-align: left;
  background-color: #ffffff;
  color: darkolivegreen;
  border-radius: 10px;
}

.float-child h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
